/* variaveis para cores  */
:root {

    --background-color: rgba(253, 253, 253, 0.555);

    --fundo-menu-lateral: #66513B;
    --fundo-claro: #927e69;
    --fundo-escuro: #705941;

    --borda-clara: #f0feff;
    --borda-escura: #DED6C7;

    --texto-escuro: #161616;
    --texto-claro: #c8d4db;
    --texto-branco: #ecf8ff;
    --texto-hover: #6c8a8d;
    --texto-opaco: #b5bbbe;

    --cor-detalhes: #000000;

    --texto-titulo-claro: #a0b3b4;
    --texto-titulo-escuro: #1f2525;

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgba(31, 31, 31, 0.1);
}

/* CSS Geral */
body {
    font-family: "roboto", sans-serif;
    color: var(--texto-claro);
    background: var(--texto-escuro);
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120;
    border: 2px solid var(--borda-clara);
    box-shadow: 0 0 5px var(--sombra-clara);
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: wheat;
}

/* redes sociais */
.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

a {
    text-decoration: none;
}

/* Menu mobile */
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o corpo do conteúdo */

/* menu responsivo */
@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Menu do Header  */
.nav-menu {
    padding: 30px 0 0 0;
}
 #main {
        margin-left: 0;
    }
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, .nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i, .nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: 600;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover>a i {
    color: var(--cor-detalhesb);
    font-weight: 400;
}

/* Hero */
#hero {
    width: 100%;
    height: 100vh; 
    background: url("../img/img3.jpg"); 
    background-size: cover;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(31, 31, 31, 0);
}

#hero .hero-container {
    z-index: 3;
    position: relative;
    min-width: 300;
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 50;
    line-height: 1;
    color: #66513B;
    background-color: #66513b27;
}

#hero p {
    color: #66513B;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 26px;
}

#hero p span {
    color: #66513B;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 3px solid #66513B;
}





/* Estrutura Base - Corpo */
#main {
    margin-left: 300px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

/* Seções e Titulos */
section {
    padding: 60px 0;
    overflow: hidden;
    /* clara */
    /* background: var(--section-clara); */
    background: #9f7667;
    
}

.section-bg {
    /* escura */
    /* background: var(--section-escura); */
    background: #57362b;
    color: var(--texto-claro);
}

/* Estrutura do Titulo Seção */
.section-title {
    padding-bottom: 30px;
}

/* titulo H2 */
.section-title h2 {
    color: var(--texto-escuro);
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}









/* efeito parallax */
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 90px;
        line-height: 75px;
        margin-bottom: 45px;
    }

    #hero p {
        font-size: 28px;
    }
}


/** Seções Gerais === tag Section ***/
section {
    padding: 60px 0;
    overflow: hidden;
    background: var(--fundo-claro)
}

.section-bg {
    background: var(--fundo-escuro);
    color: var(--texto-claro);
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-titulo-escuro);
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--cor-detalhes);
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/* Sobre */
.sobre .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: var(--cor-detalhes);
}

.sobre .content ul {
    list-style: none;
    padding: 0;
}

.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sobre .content ul strong {
    margin-left: 10px;
}

.sobre .content ul i {
    font-size: 20px;
    color: var(--cor-detalhes);
    margin-right: 10px;
    line-height: 0;
}

/* Conquistas */
.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i {
    display: block;
    font-size: 44px;
    color: var(--cor-detalhes);
    float: left;
    line-height: 0;
}

.conquistas .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: var(--texto-escuro);
    margin-left: 60px;
}

.conquistas .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Open", sans-serif;
    color: var(--texto-escuro);
}

/* Opcional */
.conquistas .count-box i:hover {
    color: var(--texto-branco);
    transition: 0.4s;
}

/*  Skills // Habilidades // Vendas  */
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-bg {
    background: var(--fundo-claro);
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 2s;
    background: var(--cor-detalhes);
}
